* {
    padding: 0;
    margin: 0;
}

.wrapper {
    font-family: 'Gilroy', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/l-tree.svg') bottom left no-repeat,
                url('/img/r-tree.svg') bottom right no-repeat,
                rgb(255, 255, 255);

    .auth {
        max-width: 951px;
        width: 100%;
        height: 527px;
        background: #FFFFFF;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.04);
        border-radius: 7px;

        &-block {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__header {
                text-align: center;
                h1 {
                    font-weight: bold;
                    font-size: 45px;
                }
            }

            &__content {
                width: 611px;
                margin: 0 auto;

                &__input {
                    
                    &:first-child {
                        margin-bottom: 28px;
                    }

                    &-label {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        small {
                            text-transform: uppercase;
                            margin-left: 5px;
                            font-family: 'Gilroy SemiBold';
                            color: #000;
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }

                    input {
                        width: 100%;
                        border: 2px solid #069C38;
                        box-sizing: border-box;
                        border-radius: 7px;
                        font-size: 20px;
                        padding: 13px 0 13px 26px;
                        outline: none;
                        color: #000;

                        &::placeholder {
                            color: #E4E4E4;
                        }
                    }

                    &-wrapper {
                        position: relative;
                        
                        input {
                            padding-right: 45px;
                        }

                        img {
                            cursor: pointer;
                            position: absolute;
                            top: 50%;
                            right: 22px;
                            transform: translateY(-50%);
                        }
                    }
                }

                &__button {

                    button {
                        cursor: pointer;
                        display: block;
                        margin: 47px auto 0 auto;
                        font-family: 'Gilroy SemiBold';
                        width: 233px;
                        height: 60px;
                        font-size: 25px;
                        text-transform: uppercase;
                        background: #069C38;
                        border-radius: 10px;
                        border: none;
                        color: #FFFFFF;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}